.news-card {
  background-color: white;
  border-radius: 12px;
  margin: 20px auto;
  padding: 18px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  max-width: 1000px;

  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.news-card:hover {
  transform: scale(1.01);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.card-content {
  display: flex;
  align-items: center;
}

.thumbnail-img {
  width: 100px;
  height: 75px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
  margin-right: 16px;
}

.card-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title a {
  color: black;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
}

.card-title a:hover {
  color: #1a0dab;
  text-decoration: underline;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  margin-top: 8px;
  color: #555;
}

.card-meta span {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* Mobile optimization */
@media (max-width: 600px) {
  .news-card {
    padding: 10px;
    margin: 10px;
  }

  .card-content {
    flex-direction: row;
    align-items: flex-start;
    
  }

  .thumbnail-img {
    width: 90px;
    height: 65px;
    margin-right: 12px;
    margin-top: 30px;
  }

  .card-title a {
    font-size: 0.95rem;
  }

  .card-meta {
   flex-direction: column;
    gap: 4px;
    align-items: flex-start;
  }
  
}
